asgiref
async-timeout
cachetools
certifi
cffi
chardet
charset-normalizer
cryptography
defer
defusedxml
distro-info
Django
django-cors-headers
django-debug-toolbar
django-environ
django-redis
djangorestframework
djangorestframework-simplejwt
drf-yasg
duplicity
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
inflection
jeepney
louis
oauthlib
packaging
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyparsing
python-dateutil
python-http-client
python3-openid
pytz
PyYAML
redis
reportlab
requests
requests-oauthlib
resolver
rsa
SecretStorage
selector
sendgrid
six
social-auth-app-django
social-auth-core
sqlparse
starkbank-ecdsa
systemd-python
texttable
tk
typing_extensions
tzdata
uritemplate
urllib3
