<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="main">
        <nav>
            <img src="../../media/Logo-scaled.svg" alt="logo" class="logo"/>
            <span class="date">12 Nov, 2021</span>
        </nav>

        <section>
            <div class="Verification-message-container">
                <div class="message">
                    <span class="title">
                        Verification Code
                    </span>
                    <p>
                        Thank you for registering with Forme! 
                        To complete your registration, please 
                        enter the following OTP code
                    </p>
                </div>

                <div class="code-container">
                   <ul class="code">
                     <li>1</li>
                     <li>2</li>
                     <li>3</li>
                     <li>4</li>
                   </ul>
                </div>

                <div class="message">
                    <p>
                        This code is valid for the next 10 
                        minutes. Welcome to Forme and enjoy 
                        your fitness journey!
                    </p>
                </div>
            </div>
        </section>

        <div class="need-help">
            Need help? Ask at 
            <a href="mailto:husseinsalem@gmail.com" target="_blank">
                husseinsalem@gmail.com
            </a>
        </div>

        <footer>
            <img src="../../media/Logo-scaled.svg" alt="logo" class="logo"/>
            <span class="Copyright">Copyright © 2024. Designed by Hussein_Salem</span>
        </footer>
    </div>
    
</body>
</html>